// logo--container - paavai logo, office logo
.logoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo_avo {
        object-fit: contain;
        width: 20rem;
    }
    .logo_paavai {
        width: 8rem;
    }
}

.logoContainer--mobile {
    display: none;
}

