// logo--container - paavai logo, office logo
.logoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo_avo {
        object-fit: contain;
        width: 20rem;
    }
    .logo_paavai {
        width: 8rem;
    }
}

.logoContainer--mobile {
    display: none;
}

// input container -- label, input, sec cta
.input__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    label {
        font-size: 1.6rem;
        color: #828282;
        margin-bottom: 0.4rem;
    }
    .required {
        color: red;
    }
    a {
        text-align: right;
        font-size: 1.4rem;
        margin-top: 0.4rem;
    }
}
